body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

div {
    position: absolute;
    /* --- خاصیت های انیمیشن --- */
    animation-name: secondAnimation;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* --- تعیین مراحل انیمیشن --- */
@keyframes secondAnimation {
    0% {
        left: 0px;
        top: 0px;
        background-color: rgb(176, 33, 189);
    }

    50% {
        left: 49%;
        top: 550px;
        background-color: rgb(22, 10, 128);
    }

    100% {
        left: 93%;
        top: 0%;
        background-color: rgb(21, 226, 216);
    }
}